body{
margin:0;
padding:0;
background:#ffffff;

}
.search-box{
position:absolute;
top:3%;
left:70%;
transform:translate(-50%,-50%);
background:#F5F5F5;
height:8px;
border-radius:18px;
padding:12px;
}
.search-box>.search-txt{
width:240px;
padding:0.6px;


}
.search-btn{
color:#6104cb;
float:right;
width:23px;
height:23px;
border-radius:100%;
background:#040e0c;
display:flex;
justify-content:center;
align-items:center;
}

.search-txt
{border:none;
background:none;
outline:none;
float:top;
padding:0;
transition:0.4s;
line-height:10px;
width:0;
display: run-in;
/* diplay:run-in; */

}


#top{
font-family:times new roman;
font-size:10;
color:#BFBFBF;
position:absolute;
top:1%;
left:30px;

}

#main-box
{
background-color:#222222;
color:white;


}

#fr{
padding-left:20px;
color:green;
font-size:15px;

}
#round{
font-size:20px;
}

#col{
font-size:10px;

}

.box{
position:absolute;
left:10px;
top:30px;

}

#fr1{
padding-left:20px;
font-size:15px;

}

#fr2{
padding-left:20px;
font-size:15px;



}

#fr3{
padding-left:20px;
font-size:15px;


}
#fr4{
padding-left:20px;
font-size:15px;


}
#fr5{
padding-left:20px;
font-size:15px;

}

#vl{
width:1px;
height:40px;
background-color:white;
position:absolute;
top:25px;
left:258px;
}

#vl1{
width:1px;
height:40px;
background-color:white;
position:absolute;
top:25px;
left:380px;
}

#vl2{
width:1px;
height:40px;
background-color:white;
position:absolute;
top:25px;
left:500px;
}
#vl3{
width:1px;
height:40px;
background-color:white;
position:absolute;
top:25px;
left:608px;
}
#vl4{
width:1px;
height:40px;
background-color:white;
position:absolute;
top:25px;
left:708px;
}





