   .anetaret
        {
            width:1000px;
            height:500px;
            margin-left:auto;
            margin-right:auto;
            display:flex;
        }      
        .majtas
        {
            width:490px;
            height:355px;
            border-top: 2px solid rgb(232,232,232);
            margin-top:80px;
        }     
        .djathtas
        {
            width:490px;
            height:355px;
            border-top: 2px solid rgb(232,232,232);
            margin-left:20px;
            margin-top:80px;
        }     
        .ceo
        {
            width:490px;
            height:80px;
            position:absolute;
        }
        .ceo1
        {
            width:250px;
            height:177.5px;
            position:absolute;
        }     
        .ceo2
        {
            width:250px;
            height:177.5px;
            position:absolute;
            margin-left:250px;
        }         
        .ceo3
        {
            width:250px;
            height:177.5px;
            position:absolute;
            margin-top:177.5px;
        }   
        .ceo4
        {
            width:250px;
            height:177.5px;
            position:absolute;
            margin-top:177.5px;
            margin-left:250px;
        }       
        .fotoceo
        {
            background-color:rgb(53,53,53);
            width:45px;
            height:45px;
            margin-top:20px;
            margin-left:20px;
            position:absolute;
        }
        .shkrimiceo
        {
            width:160px;
            height:150px;
            margin-left:75px;
            margin-top:20px;
        }
        .mentor
        {
            width:490px;
            height:80px;
            position:absolute;
            margin-left:510px;
        }
        .mentor1
        {
            width:225px;
            height:225px;
            position:absolute;
            margin-top:22px;
            margin-left:10px;
        }      
        .mentor2
        {
            width:225px;
            height:225px;
            position:absolute;
            margin-top:22px;
            margin-left:255px;
        }       
        .shkrimimentor1
        {
            width:225px;
            height:108px;
            position:absolute;
            margin-top:247px;
            margin-left:10px;
        }
        .shkrimimentor2
        {
            width:225px;
            height:108px;
            position:absolute;
            margin-top:247px;
            margin-left:255px;
        }
        .shkronjatceo
        {
            margin:0px;
            padding-left:2px;
            padding-top: 0px;
            font-family:georgia;
            font-size:15px;color:rgb(124, 156, 55);
            font-weight:bolder;
        }
        .shkrim
        {
            margin:0px;
            padding-left:2px;
            padding-top: 5px;
            font-family:georgia;
            color:black;
            font-size:15px;
        }
